In [1]:
import numpy as np
import pandas as pd

# List of 20 cuisine types
cuisines = [
    'Italian', 'American', 'Chinese'
    , 'Mexican', 'Indian', 'Japanese'
    , 'French', 'Thai', 'Spanish'
    , 'Mediterranean', 'Greek', 'Lebanese'
    , 'Turkish', 'Korean', 'Vietnamese'
    , 'Persian', 'Brazilian', 'Caribbean'
    , 'Moroccan', 'Ethiopian'
]

# Manually filling data for 20 customers
data = [
    [50, 0, 0, 0, 200, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],    # Customer 1
    [0, 0, 0, 300, 0, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],   # Customer 2
    [0, 150, 0, 0, 0, 0, 0, 0, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],   # Customer 3
    [0, 0, 0, 0, 50, 0, 0, 0, 0, 0, 0, 200, 0, 0, 0, 0, 0, 0, 0, 0],    # Customer 4
    [0, 0, 0, 200, 0, 0, 0, 0, 100, 0, 0, 0, 0, 150, 0, 0, 0, 0, 0, 0], # Customer 5
    [0, 0, 0, 0, 0, 100, 150, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 200, 0, 0], # Customer 6
    [0, 0, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 50, 0, 0, 0, 0, 0, 0],    # Customer 7
    [0, 0, 0, 0, 0, 0, 0, 100, 0, 0, 0, 0, 150, 0, 0, 0, 0, 0, 0, 0],   # Customer 8
    [0, 200, 0, 0, 0, 0, 0, 50, 0, 0, 0, 0, 0, 0, 0, 100, 0, 0, 0, 0],  # Customer 9
    [0, 0, 100, 0, 0, 0, 0, 0, 0, 0, 200, 0, 0, 0, 0, 0, 0, 0, 0, 0],   # Customer 10
    [0, 0, 0, 50, 0, 0, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],    # Customer 11
    [100, 0, 0, 0, 0, 0, 0, 0, 0, 200, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],   # Customer 12
    [0, 50, 0, 0, 200, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 100, 0, 0, 0],  # Customer 13
    [0, 0, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 50, 0, 0, 0, 0, 0, 0],    # Customer 14
    [0, 0, 0, 0, 100, 0, 0, 0, 150, 0, 0, 0, 0, 0, 0, 0, 0, 0, 200, 0], # Customer 15
    [0, 0, 50, 0, 0, 0, 0, 100, 0, 0, 200, 0, 0, 0, 0, 0, 0, 0, 0, 0],  # Customer 16
    [0, 0, 100, 0, 0, 0, 0, 0, 0, 150, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],   # Customer 17
    [50, 0, 0, 100, 0, 0, 0, 0, 0, 0, 0, 150, 0, 0, 0, 0, 0, 0, 0, 0],  # Customer 18
    [0, 0, 100, 200, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 50, 0, 0, 0],  # Customer 19
    [0, 0, 0, 0, 50, 0, 0, 0, 0, 200, 0, 0, 100, 0, 0, 0, 0, 0, 0, 0],  # Customer 20
]

# Create DataFrame
data = pd.DataFrame(data, columns=cuisines)
# Display the dataset
data

,Italian,American,Chinese,Mexican,Indian,Japanese,French,Thai,Spanish,Mediterranean,Greek,Lebanese,Turkish,Korean,Vietnamese,Persian,Brazilian,Caribbean,Moroccan,Ethiopian
0,50,0,0,0,200,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,300,0,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,150,0,0,0,0,0,0,100,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,50,0,0,0,0,0,0,200,0,0,0,0,0,0,0,0
4,0,0,0,200,0,0,0,0,100,0,0,0,0,150,0,0,0,0,0,0
5,0,0,0,0,0,100,150,0,0,0,0,0,0,0,0,0,0,200,0,0
6,0,0,100,0,0,0,0,0,0,0,0,0,0,50,0,0,0,0,0,0
7,0,0,0,0,0,0,0,100,0,0,0,0,150,0,0,0,0,0,0,0
8,0,200,0,0,0,0,0,50,0,0,0,0,0,0,0,100,0,0,0,0
9,0,0,100,0,0,0,0,0,0,0,200,0,0,0,0,0,0,0,0,0
10,0,0,0,50,0,0,100,0,0,0,0,0,0,0,0,0,0,0,0,0
11,100,0,0,0,0,0,0,0,0,200,0,0,0,0,0,0,0,0,0,0
12,0,50,0,0,200,0,0,0,0,0,0,0,0,0,0,0,100,0,0,0
13,0,0,100,0,0,0,0,0,0,0,0,0,0,50,0,0,0,0,0,0
14,0,0,0,0,100,0,0,0,150,0,0,0,0,0,0,0,0,0,200,0
15,0,0,50,0,0,0,0,100,0,0,200,0,0,0,0,0,0,0,0,0
16,0,0,100,0,0,0,0,0,0,150,0,0,0,0,0,0,0,0,0,0
17,50,0,0,100,0,0,0,0,0,0,0,150,0,0,0,0,0,0,0,0
18,0,0,100,200,0,0,0,0,0,0,0,0,0,0,0,0,50,0,0,0
19,0,0,0,0,50,0,0,0,0,200,0,0,100,0,0,0,0,0,0,0

# NMF

In [2]:
from sklearn.decomposition import NMF
from sklearn.preprocessing import MinMaxScaler

# Preprocess the data (Standardize it)
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data)

In [3]:
# Apply NMF to extract latent factors
nmf = NMF(n_components=5, init='random', random_state=0, solver='mu', beta_loss='kullback-leibler')
W = nmf.fit_transform(data_scaled).round(decimals=3) # Customer-factor matrix
H = nmf.components_.round(decimals=3)  # Cuisine-factor matrix

# Create a DataFrame for W, and H with appropriate row and column names
H_df = pd.DataFrame(H, columns=cuisines, index=[f"Factor_{i+1}" for i in range(H.shape[0])])
W_df = pd.DataFrame(W, columns=[f"Factor_{i+1}" for i in range(W.shape[1])], index=data.index)

In [4]:
W_df

    Factor_1  Factor_2  Factor_3  Factor_4  Factor_5
0      0.000     0.569     0.000     0.000     0.000
1      0.587     0.000     0.000     0.000     0.432
2      0.000     0.000     0.234     0.000     0.324
3      0.587     0.095     0.000     0.000     0.000
4      0.000     0.000     0.000     1.466     0.000
5      0.000     0.000     0.000     0.000     1.297
6      0.000     0.000     0.467     0.000     0.000
7      0.000     0.000     0.000     1.257     0.000
8      0.000     0.000     0.000     0.000     1.081
9      0.000     0.000     0.701     0.000     0.000
10     0.000     0.000     0.000     0.522     0.001
11     0.000     0.758     0.000     0.000     0.000
12     0.000     0.847     0.000     0.000     0.008
13     0.000     0.000     0.467     0.000     0.000
14     0.000     0.190     0.701     0.000     0.000
15     0.000     0.000     0.806     0.126     0.000
16     0.000     0.284     0.351     0.000     0.000
17     0.929     0.000     0.000     0.000     0.000
18     0.684     0.000     0.351     0.000     0.000
19     0.000     0.474     0.000     0.419     0.000

In [5]:
H_df

,Italian,American,Chinese,Mexican,Indian,Japanese,French,Thai,Spanish,Mediterranean,Greek,Lebanese,Turkish,Korean,Vietnamese,Persian,Brazilian,Caribbean,Moroccan,Ethiopian
Factor_1,0.179,0.000,0.000,0.718,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.628,0.00,0.000,0.0,0.000,0.179,0.000,0.000,0.0
Factor_2,0.466,0.073,0.000,0.000,0.933,0.000,0.000,0.000,0.000,0.855,0.00,0.000,0.00,0.000,0.0,0.000,0.311,0.000,0.000,0.0
Factor_3,0.000,0.000,1.349,0.000,0.000,0.000,0.000,0.196,0.409,0.000,0.49,0.000,0.00,0.163,0.0,0.000,0.000,0.000,0.245,0.0
Factor_4,0.000,0.000,0.000,0.220,0.000,0.000,0.175,0.317,0.176,0.000,0.00,0.000,0.44,0.264,0.0,0.000,0.000,0.000,0.000,0.0
Factor_5,0.000,0.562,0.000,0.000,0.000,0.636,0.319,0.159,0.000,0.000,0.00,0.000,0.00,0.000,0.0,0.318,0.000,0.318,0.000,0.0

In [6]:
# Top labels for H (cuisine-factor matrix)
top_labels_H = {}
for factor in H_df.index:
    # Sort cuisines for the current factor
    sorted_cuisines = H_df.loc[factor].sort_values(ascending=False)
    top_cuisines = sorted_cuisines.head(3).index.tolist()  # Top 3 cuisines
    top_labels_H[factor] = {"Top Cuisines": top_cuisines}

# Display top cuisines for each factor in H
print("Top Cuisines for Each Factor (H):")
for factor, labels in top_labels_H.items():
    print(f"{factor}:")
    print(f"  Top Cuisines: {', '.join(labels['Top Cuisines'])}")
    print()

# Top labels for W (customer-factor matrix)
top_labels_W = {}
for factor in W_df.columns:
    # Sort customers for the current factor
    sorted_customers = W_df[factor].sort_values(ascending=False)
    top_customers = sorted_customers.head(3).index.tolist()  # Top 3 customers
    top_labels_W[factor] = {"Top Customers": top_customers}

Top Cuisines for Each Factor (H):
Factor_1:
  Top Cuisines: Mexican, Lebanese, Italian

Factor_2:
  Top Cuisines: Indian, Mediterranean, Italian

Factor_3:
  Top Cuisines: Chinese, Greek, Spanish

Factor_4:
  Top Cuisines: Turkish, Thai, Korean

Factor_5:
  Top Cuisines: Japanese, American, French

# sPCA

In [9]:
import numpy as np
import pandas as pd
from sklearn.decomposition import SparsePCA
from sklearn.preprocessing import StandardScaler

# Assuming you have your dataset stored in 'data'
# Preprocess the data (Standardize it)
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data)

# Apply Sparse PCA to extract sparse components
n_components = 5  # Number of components you want to extract
sparse_pca = SparsePCA(n_components=n_components, alpha=0.5, random_state=0)

# Fit the Sparse PCA model
sparse_pca.fit(data_scaled)

# Get the Sparse PCA components
components = sparse_pca.components_

# Get the top labels for Sparse PCA components (top values in each component)
top_labels = {}
for i, component in enumerate(components):
    sorted_indices = np.argsort(component)[::-1]  # Sort in descending order
    top_features = data.columns[sorted_indices][:3]  # Top 3 features
    top_labels[f'Component_{i+1}'] = top_features

# Display top labels for each Sparse PCA component
print("\nTop Labels for Each Sparse PCA Component:")
for component, labels in top_labels.items():
    print(f"{component}: {', '.join(labels)}")
    
# Convert the components into a DataFrame with cuisines as columns and components as rows
components_df = pd.DataFrame(components, columns=data.columns, index=[f"Component_{i+1}" for i in range(components.shape[0])])

# Display the DataFrame
print("\nSparse PCA Components DataFrame:")
components_df.T

Top Labels for Each Sparse PCA Component:
Component_1: Caribbean, French, Japanese
Component_2: Spanish, Moroccan, Ethiopian
Component_3: American, Persian, Thai
Component_4: Mediterranean, Italian, Turkish
Component_5: Indian, Brazilian, Ethiopian

Sparse PCA Components DataFrame:

               Component_1  Component_2  Component_3  Component_4  Component_5
Italian           0.000000     0.000000    -0.034753     0.437291     0.000000
American          0.000000     0.000000     0.684773    -0.000000     0.000000
Chinese          -0.184355    -0.265490    -0.162936    -0.141014     0.000000
Mexican           0.000000     0.000000    -0.061144    -0.472653     0.000000
Indian            0.000000     0.000000     0.000000     0.173951     0.551039
Japanese          0.519040     0.000000     0.000000    -0.091659     0.000000
French            0.572458     0.000000     0.000000    -0.000000     0.000000
Thai              0.000000     0.000000     0.193000    -0.000000    -0.479066
Spanish           0.000000     0.676962     0.000000    -0.123598     0.000000
Mediterranean     0.000000     0.000000    -0.088065     0.519638     0.000000
Greek            -0.033499    -0.009350     0.000000    -0.000000    -0.317307
Lebanese          0.000000     0.000000     0.000000    -0.000000     0.000000
Turkish           0.000000     0.000000     0.000000     0.197900    -0.269524
Korean           -0.074422     0.000000    -0.039710    -0.449851     0.000000
Vietnamese        0.000000     0.000000     0.000000    -0.000000     0.000000
Persian           0.000000     0.000000     0.673061    -0.000000     0.000000
Brazilian         0.000000    -0.164470     0.000000    -0.000000     0.541779
Caribbean         0.601866     0.000000     0.000000    -0.000000     0.000000
Moroccan          0.000000     0.666408     0.000000    -0.000000     0.000000
Ethiopian         0.000000     0.000000     0.000000    -0.000000     0.000000

In [12]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import rbf_kernel
from sklearn.cluster import DBSCAN

def cartesian_to_polar_nd(df, center=None):
    """
    Convert nD Cartesian coordinates to nD polar coordinates.
    
    Parameters:
        df (pd.DataFrame): DataFrame containing Cartesian coordinates with columns ["x1", "x2", ..., "xn"].
        center (array-like): Reference point (center for polar conversion). Defaults to the origin.
    
    Returns:
        pd.DataFrame: DataFrame with additional columns for r and theta_1, theta_2, ..., theta_(n-1).
    """
    # If no center is provided, assume the origin
    if center is None:
        center = np.zeros(df.shape[1])
    
    # Center the data
    centered_data = df.values - center
    
    # Compute radial distance (r)
    r = np.linalg.norm(centered_data, axis=1)
    
    # Compute angles (theta_1, theta_2, ..., theta_(n-1))
    thetas = []
    for i in range(df.shape[1] - 1):
        # Compute norm of the remaining dimensions
        norm_remaining = np.linalg.norm(centered_data[:, i+1:], axis=1)
        theta = np.arctan2(norm_remaining, centered_data[:, i])
        thetas.append(theta)
    
    # Create a new DataFrame for polar coordinates
    polar_df = pd.DataFrame()

    polar_df["r"] = r
    for i, theta in enumerate(thetas):
        polar_df[f"theta_{i+1}"] = theta
    
    return polar_df

# Step 1: Define the reference point (center for polar conversion)
reference_point = np.zeros(data.shape[1])  # np.zeros with length equal to the number of columns in df

# Step 2: Map the n-dimensional Cartesian space to n-dimensional polar space
polar_data = cartesian_to_polar_nd(data, reference_point)

# Step 3: Use only the polar variables (r and theta columns)
theta_columns = [col for col in polar_data.columns if col.startswith("theta")]
polar_features = ["r"] + theta_columns  # This includes only the new polar coordinates

# Step 4: Compute RBF kernel for the polar data
gamma = 1.0  # Hyperparameter to control the RBF spread
rbf_matrix = rbf_kernel(polar_data[polar_features].values, gamma=gamma)

# Step 5: Convert similarity matrix to distance matrix
distance_matrix = 1 - rbf_matrix

# Step 6: Apply DBSCAN with the precomputed distance matrix
epsilon = 0.1  # Set based on data's density
min_samples = 2
dbscan = DBSCAN(eps=epsilon, min_samples=min_samples, metric="precomputed")
labels = dbscan.fit_predict(distance_matrix)

# Add cluster labels to the DataFrame
polar_data["cluster"] = labels

# Output clustering results
print("Clustered Data (DataFrame):")
print(polar_data)

Clustered Data (DataFrame):
             r   theta_1   theta_2   theta_3   theta_4   theta_5   theta_6  \
0   206.155281  1.325818  1.570796  1.570796  1.570796  0.000000  0.000000
1   316.227766  1.570796  1.570796  1.570796  0.321751  1.570796  0.000000
2   180.277564  1.570796  0.588003  1.570796  1.570796  1.570796  1.570796
3   206.155281  1.570796  1.570796  1.570796  1.570796  1.325818  1.570796
4   269.258240  1.570796  1.570796  1.570796  0.733581  1.570796  1.570796
5   269.258240  1.570796  1.570796  1.570796  1.570796  1.570796  1.190290
6   111.803399  1.570796  1.570796  0.463648  1.570796  1.570796  1.570796
7   180.277564  1.570796  1.570796  1.570796  1.570796  1.570796  1.570796
8   229.128785  1.570796  0.509740  1.570796  1.570796  1.570796  1.570796
9   223.606798  1.570796  1.570796  1.107149  1.570796  1.570796  1.570796
10  111.803399  1.570796  1.570796  1.570796  1.107149  1.570796  1.570796
11  223.606798  1.107149  1.570796  1.570796  1.570796  1.570796  1.570796
12  229.128785  1.570796  1.350808  1.570796  1.570796  0.463648  1.570796
13  111.803399  1.570796  1.570796  0.463648  1.570796  1.570796  1.570796
14  269.258240  1.570796  1.570796  1.570796  1.570796  1.190290  1.570796
15  229.128785  1.570796  1.570796  1.350808  1.570796  1.570796  1.570796
16  180.277564  1.570796  1.570796  0.982794  1.570796  1.570796  1.570796
17  187.082869  1.300247  1.570796  1.570796  0.982794  1.570796  1.570796
18  229.128785  1.570796  1.570796  1.119163  0.244979  1.570796  1.570796
19  229.128785  1.570796  1.570796  1.570796  1.570796  1.350808  1.570796

     theta_7   theta_8   theta_9  ...  theta_11  theta_12  theta_13  theta_14  \
0   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
2   1.570796  1.570796  0.000000  ...  0.000000  0.000000  0.000000  0.000000
3   1.570796  1.570796  1.570796  ...  1.570796  0.000000  0.000000  0.000000
4   1.570796  1.570796  0.982794  ...  1.570796  1.570796  1.570796  0.000000
5   0.927295  1.570796  1.570796  ...  1.570796  1.570796  1.570796  1.570796
6   1.570796  1.570796  1.570796  ...  1.570796  1.570796  1.570796  0.000000
7   1.570796  0.982794  1.570796  ...  1.570796  1.570796  0.000000  0.000000
8   1.570796  1.107149  1.570796  ...  1.570796  1.570796  1.570796  1.570796
9   1.570796  1.570796  1.570796  ...  0.000000  0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
11  1.570796  1.570796  1.570796  ...  0.000000  0.000000  0.000000  0.000000
12  1.570796  1.570796  1.570796  ...  1.570796  1.570796  1.570796  1.570796
13  1.570796  1.570796  1.570796  ...  1.570796  1.570796  1.570796  0.000000
14  1.570796  1.570796  0.927295  ...  1.570796  1.570796  1.570796  1.570796
15  1.570796  1.107149  1.570796  ...  0.000000  0.000000  0.000000  0.000000
16  1.570796  1.570796  1.570796  ...  0.000000  0.000000  0.000000  0.000000
17  1.570796  1.570796  1.570796  ...  1.570796  0.000000  0.000000  0.000000
18  1.570796  1.570796  1.570796  ...  1.570796  1.570796  1.570796  1.570796
19  1.570796  1.570796  1.570796  ...  1.570796  1.570796  0.000000  0.000000

    theta_15  theta_16  theta_17  theta_18  theta_19  cluster
0   0.000000  0.000000  0.000000  0.000000       0.0       -1
1   0.000000  0.000000  0.000000  0.000000       0.0       -1
2   0.000000  0.000000  0.000000  0.000000       0.0       -1
3   0.000000  0.000000  0.000000  0.000000       0.0       -1
4   0.000000  0.000000  0.000000  0.000000       0.0       -1
5   1.570796  1.570796  1.570796  0.000000       0.0       -1
6   0.000000  0.000000  0.000000  0.000000       0.0        0
7   0.000000  0.000000  0.000000  0.000000       0.0       -1
8   1.570796  0.000000  0.000000  0.000000       0.0       -1
9   0.000000  0.000000  0.000000  0.000000       0.0       -1
10  0.000000  0.000000  0.000000  0.000000       0.0       -1
11  0.000000  0.000000  0.000000  0.000000       0.0       -1
12  1.570796  1.570796  0.000000  0.000000       0.0       -1
13  0.000000  0.000000  0.000000  0.000000       0.0        0
14  1.570796  1.570796  1.570796  1.570796       0.0       -1
15  0.000000  0.000000  0.000000  0.000000       0.0       -1
16  0.000000  0.000000  0.000000  0.000000       0.0       -1
17  0.000000  0.000000  0.000000  0.000000       0.0       -1
18  1.570796  1.570796  0.000000  0.000000       0.0       -1
19  0.000000  0.000000  0.000000  0.000000       0.0       -1

[20 rows x 21 columns]

In [13]:
polar_data.cluster

0    -1
1    -1
2    -1
3    -1
4    -1
5    -1
6     0
7    -1
8    -1
9    -1
10   -1
11   -1
12   -1
13    0
14   -1
15   -1
16   -1
17   -1
18   -1
19   -1
Name: cluster, dtype: int64